# Pengenalan Dasar Pemrograman Python

Fadjar Fathurrahman

Beberapa cara untuk menggunakan Python:

1. Interpreter atau konsol Python standard.
2. Konsol interaktif Python.
3. Jupyter notebook atau Jupyter lab.
4. Menggunakan IDE.

Dokumen ini dibuat dengan menggunakan Jupyter notebook. Dengan menggunakan Jupyter notebook, kita dapat menggabungkan antara narasi teks dan kode.

## Menggunakan Python sebagai kalkulator

Python dapat digunakan sebagai kalkulator untuk melakukan berbagai perhitungan matematika.

Penjumlahan:

In [1]:
2 + 3

5

Pengurangan

In [3]:
2 - 3.1

-1.1

Perkalian

In [2]:
2.3*4*3.1

28.52

Pembagian

In [4]:
2/3

0.6666666666666666

Selain pembagian biasa, Python juga menyediakan operator untuk pembagian bilangan bulat (integer)

In [5]:
2//3

0

In [6]:
4//3

1

Operator modulo (sisa pembagian)

In [7]:
4%3

1

In [10]:
100%7

2

In [9]:
10%5

0

Untuk melakukan beberapa operasi perhitungan sekaligus dalam satu input bisa digunakan tanda koma:

In [11]:
100//7, 100%7

(14, 2)

In [12]:
14*7 + 2

100

Contoh tabel

| Nama | NIM  |
| --- | --- |
| Jeje | Z13399001 |
| Zeze | Z13399002 |

## Variabel dan tipe data

Untuk mendeklarasikan variabel pada Python, kita dapat menggunakan operator penugasan (*assignment*) yaitu dengan tanda `=`

In [16]:
a = 3.4
b = 1
c = a + b

**Catatan**: Pada Jupyter notebook, hasil perhitungan tidak akan ditampilkan jika kita menggunakan operator penugasan. Untuk melihat hasil perhitungan atau nilai variabel kita dapat mengetikkan nama variabel pada suatu sel dan mengeksekusi sel tersebut.

In [17]:
a, b, c

(3.4, 1, 4.4)

Python memiliki beberapa tipe variabel, di antaranya yang sering dipakai adalah:

1. Integer (`int`)
2. Float (`float`)
3. String (`str`)
4. Boolean (`bool`)

Untuk mengetahui tipe suatu variabel kita dapat menggunakan fungsi `type`:

In [18]:
type(a), type(b), type(c)

(float, int, float)

Contoh variabel dengan tipe `String`:

In [20]:
nama1 = "Jojo"
nama2 = "Sujojo"
type(nama1), type(nama2)

(str, str)

Tipe data boolean hanya memiliki dua nilai yang mungkin yaitu: `True` dan `False`

In [21]:
kondisi1 = True
kondisi2 = False
type(kondisi1), type(kondisi2)

(bool, bool)

Nama variabel pada Python mengikuti aturan yang kurang lebih sama dengan penamaan variabel dalam bahasa C/C++.

Contoh nama variabel yang valid:

```python
my_name = "Jojo
MyName = "Sujojo"
x1 = 2.3
```

Contoh nama variabel yang tidak valid:
```python
for = 1
1a = 4
```

In [25]:
"\N{GREEK CAPITAL LETTER DELTA}"

'Î”'

In [49]:
love = "æ„›"
print(love + "ai")

æ„›ai

In [42]:
"\N{GREEK CAPITAL LETTER GAMMA}"

'Î“'

In [51]:
print(love + "ã—ã¦ã‚‹")

æ„›ã—ã¦ã‚‹

In [32]:
print("Aku" + " ingin " + " begini ")

Aku ingin  begini

In [52]:
hearts = """â¦â§â˜™â¥â£â™¡â™¥â¤â³áƒ¦ğŸ’ŒğŸ©ğŸ’“ğŸ’”ğŸ’•ğŸ’–ğŸ’—ğŸ’˜ğŸ’™ğŸ’šğŸ’›ğŸ’œğŸ–¤ğŸ’ğŸ’ğŸ’ŸğŸ’‘"""

In [53]:
print(hearts)

â¦â§â˜™â¥â£â™¡â™¥â¤â³áƒ¦ğŸ’ŒğŸ©ğŸ’“ğŸ’”ğŸ’•ğŸ’–ğŸ’—ğŸ’˜ğŸ’™ğŸ’šğŸ’›ğŸ’œğŸ–¤ğŸ’ğŸ’ğŸ’ŸğŸ’‘