<h1 style="text-align:center;">Dasar Pemrograman Python</h1>
<h3 style="text-align:center;">Fadjar Fathurrahman</h3>

# Beberapa cara menggunakan Python

Beberapa cara untuk menggunakan Python:

1. Interpreter atau konsol Python standard.
2. Konsol interaktif Python (IPython).
3. Jupyter notebook dan Jupyter lab.
4. Menggunakan IDE.

Dokumen ini dibuat dengan menggunakan Jupyter notebook. Dengan menggunakan Jupyter notebook, kita dapat menggabungkan antara narasi teks dan kode.

# Menggunakan Python sebagai kalkulator

## Operasi aritmatika sederhana

Python dapat digunakan sebagai kalkulator untuk melakukan berbagai perhitungan matematika.

Penjumlahan:

In [ ]:
2 + 3

Pengurangan

In [ ]:
2 - 3.1

Perkalian

In [ ]:
2.3*4*3.1

Pembagian

In [ ]:
2/3

Selain pembagian biasa, Python juga menyediakan operator untuk pembagian bilangan bulat (integer)

In [ ]:
2//3

In [ ]:
4//3

Operator modulo (sisa pembagian)

In [ ]:
4%3

In [ ]:
100%7

In [ ]:
10%5

Untuk melakukan beberapa operasi perhitungan sekaligus dalam satu input bisa digunakan tanda koma:

In [ ]:
100//7, 100%7

In [ ]:
14*7 + 2

## Komentar

Komentar perbaris pada Python dapat ditandai dengan simbol `#`.

Contoh:

```python
# Ini komentar
a = 3 + 7 # ini juga komentar
```

## Fungsi-fungsi matematika

Fungsi-fungsi matematika seperti sin, cos, log, exp dan sebagainya dapat diakses dengan cara mengimport modul `math`. Dalam modul ini juga didefinisikan beberapa konstanta seperti bilangan $\pi$ dan konstanta Euler $e$.

Ada beberapa sintaks untuk mengimpor modul.

**Cara 1**

```python
from nama_module import nama_fungsi1, nama_fungsi2, konstanta1
```

Dengan cara ini, kita dapat langsung menggunakan `nama_fungsi1`, `nama_fungsi1`, `nama_fungsi2` dan `konstanta1` pada kode. Fungsi-fungsi lain yang tidak kita impor tidak bisa digunakan, meskipun fungsi atau konstanta tersebut ada pada modul yang bersangkutan. Contoh:

```python
from math import sin, cos
```

Dengan kode di atas kita hanya mengimport fungsi `sin` dan `cos`, sedangkan fungsi-fungsi lain seperti `tan`, `log`, dan sebagainya tidak akan diimpor (tidak terdefinisi pada sesi atau scope yang sedang aktif).

Jika Anda ingin mengimport semua simbol (konstanta dan fungsi) dapat dilakukan dengan menggunakan *wildcard* `*`:

```python
from math import * # mengimport semua simbol dari modul math
```

**Cara 2**

```python
import math
```

Dengan cara ini kita tidak mengimpor fungsi apapun, namun hanya modul `math` saja. Meskipun demikian kita dapat menggunakan fungsi yang didefinisikan pada modul `math` dengan menggunakan `math.nama_fungsi` atau `math.nama_konstanta`, misalnya:

```python
math.pi     # mengakses konstanta pi
math.sin(math.pi/3) # memanggil fungsi sin
```

Nama saya adalah efefer. 

Contoh teks **bold**.

Contoh teks *italic*

List:

- Contoh 1
- Contoh 2

List

1. Contoh A
2. Contoh B

Contoh inline equation.

Contoh persamaan $\alpha + \beta - \gamma$. Misalkan $v$ adalah kecepatan.

Contoh display equation:

$$
\int f(x) dx = \frac{\Gamma}{1 - x}
$$

$$
\frac{1}{2}\nabla^2
$$

In [ ]:
import math
import cmath

In [ ]:
math.sqrt(4)

In [ ]:
cmath.sqrt(4)

In [ ]:
math.sqrt(-1)

In [ ]:
cmath.sqrt(-1)

$$
\exp\left(\imath\pi\right) = \cos(\pi) + \imath \sin(\pi) = -1
$$

In [ ]:
math.pi

In [ ]:
cmath.exp(1j*math.pi)

In [ ]:
from math import sin, cos, pi # sin, cos, dan pi dapat langsung digunakan
x = sin(2*pi/3) + cos(2*pi/3)
x

In [ ]:
import math
x = math.sin(2*math.pi/3) + cos(2*math.pi/3)
x

# Variabel dan tipe data

Untuk mendeklarasikan variabel pada Python, kita dapat menggunakan operator penugasan (*assignment*) yaitu dengan tanda `=`

In [ ]:
a = 3.4
b = 1
c = a + b

**Catatan**: Pada Jupyter notebook, hasil perhitungan tidak akan ditampilkan jika kita menggunakan operator penugasan. Untuk melihat hasil perhitungan atau nilai variabel kita dapat mengetikkan nama variabel pada suatu sel dan mengeksekusi sel tersebut.

In [ ]:
c

In [ ]:
a, b, c

Python memiliki banyak tipe data, di antaranya yang sering dipakai adalah:

1. Integer (`int`)
2. Float (`float`)
3. String (`str`)
4. Boolean (`bool`)

Untuk mengetahui tipe suatu variabel kita dapat menggunakan fungsi `type`:

In [ ]:
type(a), type(b), type(c)

Contoh variabel dengan tipe `String`:

In [ ]:
nama1 = "Jojo"
nama2 = "Sujojo"
type(nama1), type(nama2)

Tipe data boolean hanya memiliki dua nilai yang mungkin yaitu: `True` dan `False`

In [ ]:
kondisi1 = True
kondisi2 = False
type(kondisi1), type(kondisi2)

Nama variabel pada Python mengikuti aturan yang kurang lebih sama dengan penamaan variabel dalam bahasa C/C++.

Contoh nama variabel yang valid:

```python
my_name = "Jojo
MyName = "Sujojo"
x1 = 2.3
```

Contoh nama variabel yang tidak valid:
```python
for = 1  # menggunakan kata kunci for
1a = 4 # diawali dengan angka
```

In [ ]:
nama = "efefer"
print("Nama saya adalah ", nama)

## Tipe bilangan kompleks

Selain tipe bilangan bulat (`int`) dan real (`float`), Python juga mendukung tipe bilangan kompleks secara default. Bagian imajiner dari bilangan kompleks dapat dinyatakan dengan menambahkan `j` setelah bagian imajiner.

In [ ]:
z1 = 2 + 3j
z2 = 4 + 4.5j
z1 + z2

In [ ]:
type(z1)

Perhatikan bahwa bilangan imajiner murni $\sqrt{-1}=\textrm{i}$ dinyatakan dengan `1j`, bukan `j`:

```
1j
```

Jika kita hanya menggunakan `j`:

```
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-2-3eedd8854d1e> in <module>
----> 1 j

NameError: name 'j' is not defined
```

Member `real` dan `imag` dapat digunakan untuk mengakses bagian real dan imajiner dari bilangan kompleks. Metode `conjugate()` dapat digunakan untuk mendapatkan konjugat kompleks.

In [ ]:
z1.real, z2.imag, z1.conjugate()

In [ ]:
z1*z2

In [ ]:
z1/z2

In [ ]:
z1*z1.conjugate()

In [ ]:
(z1*z1.conjugate()).real

In [ ]:
(z1*z1.conjugate()).imag

### String

String merepresentasikan data teks.

Dalam perhitungan numerik string tidak terlalu banyak digunakan. Namun untuk beberapa aplikasi lain seperti parsing dan analisis teks pengetahuan mengenai string sangat diperlukan. Topik mengenai string sangat luas dan kita hanya akan membahas beberapa hal saja.

Ada beberapa cara untuk menggunakan tipe data string.

- Menggunakan tanda petik tunggal: `'Nama saya Jojo'`
- Menggunakan tanda petik ganda: `"Nama saya Jojo"`

Untuk string yang lebih panjang dapat digunakan tidak tanda petik, baik tunggal atau ganda.

Dalam tutorial ini, akan digunakan tanda petik dua untuk menyatakan string. Anda dapat menggantinya dengan menggunakan tanda petik tunggal jika Anda lebih suka.

In [ ]:
nama1 = 'Jojo'
nama2 = "Jojo"
nama1, nama2

In [ ]:
type(nama1)

Contoh string panjang yang memakan lebih dari satu baris.

In [ ]:
lirik_lagu = """
Aku ingin begini
Aku ingin begitu
Ingin ini ingin itu
banyak sekali
"""
lirik_lagu

String dapat dianggap sebagai kumpulan dari karakter-karakter individual.

Untuk mengakses karakter individual dapat digunakan operator indexing `[]`. Indeks pada Python dimulai dari 0.

In [ ]:
nama1

In [ ]:
nama1[0], nama1[1], nama2[2]

Untuk mengetahui panjang suatu string dapat digunakan fungsi `len`.

In [ ]:
len(nama1)

Perhatikan bahwa tipe dari karakter-karakter pada string adalah string juga (bukan `char` seperti pada C/C++).

In [ ]:
type(nama1[0])

Beberapa operator matematika dapat digunakan pada string, namun operasinya berbeda dengan operasi matematika biasa.

In [ ]:
"Nama" + " " + "saya" + " adalah " + "Jojo"

In [ ]:
"Jojo"*2

In [ ]:
str1 = "saya"

In [ ]:
str1.capitalize()

In [ ]:
str1.casefold()

In [ ]:
str1.count("a")

In [ ]:
lirik_lagu.split()

In [ ]:
lirik_lagu.upper()

In [ ]:
lirik_lagu.lower()

String dapat dianggap sebagai kumpulan berurut dari beberapa karakter atau huruf individual.
Kumpulan berurut ini sering disebut sebagai list. List pada Python memiliki beberapa operasi yang dapat digunakan, salah satunya adalah indexing dan slicing. Anda dapat mempelajari lebih lanjut mengenai list di bagian tipe data kontainer.

Contoh operasi slicing pada string.

In [ ]:
lirik_lagu[0:9:2]

In [ ]:
lirik_lagu[::-1]

## Tipe data kontainer

### List

List mirip dengan array pada bahasa pemrograman C/C++. Salah satu perbedaannya adalah tipe elemen pada list tidak perlu terdiri dari tipe yang sama. Selain itu, list juga mendukung beberapa operasi yang lebih kompleks dibandingkan dengan array pada C/C++.

In [ ]:
mylst1 = [3, 5, 7, 11, 44, 33, 88, 99]
mylst1

In [ ]:
type(mylst1)

Contoh list dengan elemen-elemen yang terdiri dari tipe data berbeda.

In [ ]:
mylst2 = ["Nama", 1, 2.3, True]
mylst2

Untuk mengakses elemen pada list kita dapat menggunakan operator indexing `[]`. Indeks pada Python dimulai dari 0.

In [ ]:
mylst1[0], mylst1[3]

Indeks negatif juga dapat digunakan pada list:

In [ ]:
mylst1[-1], mylst1[-2], mylst1[-3], mylst1[-4]

Untuk mengetahui panjang (jumlah element) suatu list dapat digunakan fungsi builtin `len()`:

In [ ]:
len(mylst1), len(mylst2)

List mendukung operasi slicing. Operasi ini mengembalikan (sub)list dari list awal. Sintaks yang digunakan adalah:
```python
mylist[idx_awal:idx_akhir:increment]
```
Dengan sintaks di atas akan dikembalikan sebuah list dengan element dari `mylist[idx_awal]` sampai sebelum `my_list[idx_akhir]` dengan penambahan indeks `increment`.
Pada operasi slicing tidak harus semua paramter diberikan. Secara default `idx_awal = 0`, `idx_akhir = len(my_list)`, dan `increment = 1`.

In [ ]:
mylst1[1:3]

In [ ]:
mylst1[0:8:2]

In [ ]:
mylst1[:3]

In [ ]:
mylst1[0:]

In [ ]:
mylst1[::2]

In [ ]:
mylst1[::-1]

List bersifat **mutable**, artinya elemen list dapat diubah.

In [ ]:
mylst1[0] = 1000
mylst1

Elemen baru dapat ditambahkan ke list dengan menggunakan metode `append`:

In [ ]:
mylst1.append(123)
mylst1

Beberapa operator yang normal digunakan pada perhitungan matematika seperti `+` memiliki arti tertentu pada list. Misalnya

In [ ]:
mylst1 = mylst1 + [1000]
mylst1

In [ ]:
mylst1 + [3, 4, 5]

Elemen dari suatu list dapat juga berupa list yang lain. Pada perintah berikut kita akan menambahkan suatu list yaitu `[3,4,5]` pada `my_list`.

In [ ]:
mylst1.append([3,4,5])

In [ ]:
mylst1

List pada Python juga mendukung beberapa operasi lain. Untuk memperoleh gambaran lebih lengkap, Anda dapat membaca di
[https://docs.python.org/3/tutorial/datastructures.html#more-on-lists](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)

### Tupel

Tupel sangat mirip dengan list. Perbedaan pentingnya adalah tupel bersifat **immutable**. Tupel dapat diinisialisasi dari elemen-elemennya dengan menggunakan tanda `()` dan diantara elemen dipisahkan dengan tanda koma.

In [ ]:
mytpl = (0, "3", True, 1.3)
mytpl

In [ ]:
type(mytpl)

Tupel juga dapat diinisialisasi tanpa menggunakan tanda `()`.

In [ ]:
mytpl = 0, "3", True, 1.3
mytpl

In [ ]:
mytpl[1:3]

Seperti yang telah diinfomasikan sebelumnya, berbeda dengan list, tupel bersifat **immutable**, artinya elemen-elemennya tidak dapat dimodifikasi setelah diinisialisasi.

Kode berikut ini akan memberikan kesalahan
```python
mytpl[0] = 3.4
```

```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-44-77d297c1309c> in <module>()
----> 1 mytpl[0] = 3.4

TypeError: 'tuple' object does not support item assignment
```

Karena bersifat immutable, tupel tidak memiliki operasi sefleksibel list. Meskipun demikian kita dapat mengubah tupel menjadi list dengan menggunakan konstruktor `list`.

In [ ]:
mylst3 = list(mytpl)
mylst3

In [ ]:
mylst3[0] = 44
mylst3

### Set (himpunan)

Tipe data set pada Python terdiri dari elemen-elemen unik yang tidak berulang. Urutan tidak terdefinisi pada set. Set dapat diinisialisasi dari elemen-elemennya dengan menggunakan tanda kurung kurawal.

In [ ]:
myset = {0, 0, 2, 4, 11, 11, 100, 100, "A", "B", True, (3,4)}
myset

Set juga dapat diinisialisasi dengan menggunakan konstruktor `set` dengan sintaks umum sebagai berikut:
```python
set(iterable_data)
```
di mana `iterable_data` merupakan tipe data yang dapat diiterasi seperti list, tupel, string dan sebagainya.

In [ ]:
set("Aku ingin begini. Aku ingin begitu")

In [ ]:
set([1, 3, 4, 6, 7, 8, 8, 9, 7, 4, 3, 2])

In [ ]:
buah2an = ("apel", "mangga", "pisang", "jeruk", "apel", "pisang")
set( buah2an )

### Dictionary (kamus)

Dictionary atau `dict` pada Python adalah suatu tipe data yang terdiri dari kumpulan pasangan key (kunci) dan value (nilai). Tipe data `dict` bersifat mutable. Anda dapat menganggap `dict` sebagai tabel yang terdiri dari dua kolom, di mana key berada pada kolom pertama dan value pada kolom kedua. Dalam beberapa bahasa pemrograman lain, `dict` sering juga disebut sebagai array asosiatif.

In [ ]:
nilai = {"Jojo": 100, "Jono": 80, "Koko": 65, "Bobo": 44}
nilai

In [ ]:
type(nilai)

Anda dapat mengakses nilai dari "Jojo", misalnya, dengan menggunakan:

In [ ]:
nilai["Jojo"]

Fungsi `list` dapat digunakan untuk mendapatkan semua `key` dari suatu `dict`:

In [ ]:
list(nilai)

Anda dapat menambahkan pasangan `key` dan `value` baru seperti pada contoh berikut

In [ ]:
nilai["Aan"] = 70
nilai

Selain dengan menggunakan operasi indexing langsung, metode `update` juga dapat digunakan untuk mengubah suatu `dict`:

In [ ]:
nilai["Jojo"] = 40
nilai["Aan"] = 55
nilai

In [ ]:
nilai.update({"Jojo": 99, "Aan": 88})
nilai

Fungsi `del` dapat digunakan untuk menghapus key dan value pada `dict`.

In [ ]:
del nilai["Jono"]

In [ ]:
nilai

## Kontrol alur program

### Kondisional

Pernyataan kondisional digunakan untuk melakukan atau tidak melakukan suatu pernyataan dalam program berdasarkan suatu kondisi tertentu.

Pernyataan kondisional dapat dibuat dengan menggunakan kata-kata kunci `if`, `else`, dan `elif`.

Sintaks `if`
```python
if kondisi:
    lakukan_sesuatu
```

Sintaks `if-else`
```python
if kondisi_a:
    lakukan_ini
else:
    lakukan_itu
```

Sintaks `if-elif-else`
```python
if kondisi_a:
    lakukan_ini
elif kondisi_b:
    lakukan_itu
else:
    lakukan_yang_lain
```

Berikut ini adalah operator-operator logika dalam Python (Referensi: Huff, *Effective Computation in Physics - Field Guide to research in Python*)

**Unary operator**

| Name | Usage | Returns |
| ---- | ----- | ------- |
| Negation | `not x` | Logical negation - `True` becomes False , and vice versa. |
| Bitwise invert | `~x` | Changes all zeros to ones and vice versa in `x`'s binary representation.|

**Binary operators**

| Name | Usage | Returns |
| ---- | ----- | ------- |
| Logical and | `x and y` | `True` if `bool(x)` and `bool(y)` are `True` ; False otherwise. |
| Logical or | `x or y` | `x` if `bool(x)` is `True` ; otherwise the value of y . |

**Comparison binary operators**

| Name | Usage | Returns |
| ---- | ----- | ------- |
| Equality | `x == y` | `True` or `False` |
| Not equal | `x != y` | `True` or `False` |
| Less than | `x < y` | `True` or `False` |
| Less than or equal | `x <= y` | `True` or `False` |
| Greater than | `x > y` | `True` or `False` |
| Greater than or equal | `x >= y` | `True` or `False` |
| Containment | `x in y` | `True` if `x` is an element of `y` |
| Non-containment | `x not in y` | `False` if `x` is an element of `y` |
| Identity test | `x is y` | `True` if `x` and `y` point to the same underlying value in memory |

In [ ]:
a = -1
if a > 0:
    print("a bernilai positif")
else:
    print("a bernilai negatif")

In [ ]:
a = 0
if a > 0:
    print("a bernilai positif")
elif a < 0:
    print("a bernilai negatif")
else:
    print("a bernilai 0")

In [ ]:
mylist = [1, 2, 3, 4, 6]
if 5 in mylist:
    print("Nilai 5 berada dalam mylist")
else:
    print("Nilai 5 tidak ada dalam list")

In [ ]:
nilai = {"Jojo": 100, "Jono": 80, "Koko": 65, "Bobo": 44}
if "Jojo" not in nilai:
    print("Jojo tidak ada dalam dict nilai")
else:
    print("Jojo ada dalam dict nilai")

### Loop (pengulangan)

Ada beberapa cara untuk melakukan operasi pengulangan pada Python.

Beberapa yang sering digunakan adalah pernyataan dengan kata kunci `while` dan `for`.

Sintaks:
```python
while kondisi:
    lakukan_sesuatu
```

Sintaks:
```python
for variabel in iterable:
    lakukan_sesuatu
```

Contoh `iterable` adalah list, dict, dan set. `iterable` juga dapat dihasilkan dengan menggunakan fungsi `range`.

In [ ]:
a = 0
while a < 10:
    print("a = %d" % a)
    a = a + 1

In [ ]:
for a in range(1,10):
    print("a = %d" % a)

Kata kunci `break` dapat digunakan untuk menghentikan loop jika suatu kondisi terpenuhi.

In [ ]:
a = 0
while True:
    if a >= 10:
        break
    print("a = %d" % a)
    a = a + 2

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print("i = %d" % i)

In [ ]:
for nama in nilai:
    print("nama = ", nama)

### Exception

Exception adalah suatu mekanisme pada bahasa pemrograman untuk mengatasi atau menginformasikan bahwa terlah terjadi suatu kesalahan seperti kesalahan input argumen, file tidak ditemukan dan sebagainya.

In [ ]:
x = 0
try:
    a = 1/x
except:
    print("x tidak boleh 0")

Python mendukung banyak sekali tipe exception, salah satu yang sering digunakan adalah `RuntimeException`. Anda dapat menggunakan exception ini jika terjadi kesalahan pada program Anda.

Contoh:

```python
a = -1.0
if a < 0:
    raise RuntimeError("a harus lebih besar dari 0")
```

akan memberikan keluaran:
```
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-38-87e95f0d6c82> in <module>()
      1 a = -1.0
      2 if a < 0:
----> 3     raise RuntimeError("a harus lebih besar dari 0")

RuntimeError: a harus lebih besar dari 0
```

## Fungsi (subprogram)

In [ ]:
def my_func_01(a, b):
    return a + b

In [ ]:
def my_func_02(a, b):
    print("a = ", a)
    print("b = ", b)

In [ ]:
def my_func_03(a, b):
    temp = a
    a = b
    b = a

In [ ]:
a = 3
b = 4
c = my_func_01(a, b)
c

In [ ]:
c = my_func_02(a, b)

In [ ]:
type(c)

In [ ]:
my_func_03(a, b)
a, b

In [ ]:
my_func_03(*{a}, b)
a, b

In [ ]:
def my_func_04(a, b):
    return b, a

In [ ]:
a, b = my_func_04(a, b)
a, b

In [ ]:
def my_func_05(args):
    args[0] = 1

In [ ]:
args = [3, 4]
my_func_05(args)
args

## Pengenalan Numpy

In [ ]:
import numpy as np

In [ ]:
mylist1 = [1, 2, 3, 4, 5]
mylist2 = [4.5, 2, 1.3, 4, 5]

In [ ]:
np.array(mylist1)*np.array(mylist2)

In [ ]:
x1 = np.array([1,2,3,4,4])

In [ ]:
type(x1)

In [ ]:
0.5*x1

In [ ]:
A = np.matrix([[1,2,3,4], [1,3,2,4]])
A

In [ ]:
A[1,2]

In [ ]:
A[:,1]

In [ ]:
A[1,:]

In [ ]:
B = np.matrix.copy(A)
B

In [ ]:
B.transpose()*B

In [ ]:
?np.linalg.solve

In [ ]:
A = np.matrix([[6, -4, 1], [-4, 6, -4], [1, -4, 6]], dtype=np.float64)
b = b = np.matrix([[-14, 36, 6],[22, -18, 7]], dtype=np.float64).transpose()
print(A)
print(b)

In [ ]:
np.linalg.solve(A,b)

In [ ]:
B[1,:] = 1.0
B

In [ ]:
B.shape

In [ ]:
B.trace()

In [ ]:
B.transpose()

In [ ]:
np.matmul(B.transpose(), B)

In [ ]:
Bt = B.transpose()
type(Bt), Bt

In [ ]:
Bt[1,1] = 0.0
Bt, B

In [ ]:
Bt2 = np.matrix(B.transpose())
Bt2

2d `ndarray` sedikit berbeda dengan `matrix`.

In [ ]:
Bt2*B

In [ ]:
np.matrixlib.

In [ ]:
np.matmul(Bt2,B)

In [ ]:
?np.trace

In [ ]:
np.linspace(1, 10, 100)

In [ ]:
import scipy
import scipy.linalg

In [ ]:
?scipy.linalg.hilbert

In [ ]:
H1 = np.matrix(scipy.linalg.hilbert(10))
H1

In [ ]:
type(H1)

In [ ]:
invH1 = np.linalg.inv(H1)

In [ ]:
invH1_v2 = scipy.linalg.invhilbert(10)

In [ ]:
?scipy.linalg.invhilbert

In [ ]:
invH1 - invH1_v2